@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: none;
  /* border: 1px solid red; */
}

body {
  font-family: "IBM Plex Sans", sans-serif;
}

.container {
  padding: 0 15px;
  max-width: 88%;
  margin: 0 auto;
}
/* HEADER */

.header {
  background: linear-gradient(
    293.97deg,
    #ffffff -9.96%,
    rgba(222, 238, 252) 111.88%
  );
}

.header__flex {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 500;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

.header__list {
  font-size: 14px;
  line-height: 2.5;
}
.header__logo {
  display: flex;
  align-items: center;
  width: 8%;
  justify-content: space-between;
  font-weight: 700;
  font-size: 150%;
}

.entry {
  text-decoration: none;
  color: #000;
}

.registration {
  text-decoration: none;
  color: #fff;
}

/* SECTIONS */

.section1{
  max-width: 50%;
  max-height: 1%;
  padding: 2% 6.9%;
  font-size: 12px;
}
.section2{
  max-width: 100%;
  padding: 0 6.9%;
}
.section3{
  max-width: 100%;
  padding: 1% 6.9%;
}
.for-text{
  max-width: 31%;
}
.for-information{
  padding: 0.5% 0 0 0%;
  display: flex;
  flex-direction: column;
  max-width: 19.5%;
}
.for-information-1{
  line-height: 100%;
  display: flex;
  align-items: center;
}
/* CENTRE WEBSITE */
.section4{
  max-width: 100%;
  padding: 0.5% 6.9%;
}
.section5{
  max-width: 19.5%;
  padding: 0.2% 8.2%;
}
.section6{
  padding: 0 6.9%;
}
/* for form  */
input {
  display:block;
  width:22%;
  margin: 0.5% 0;
  padding: 0.8%;
}
.form1{
  border-radius: 25px;
  border: 0.5px solid #000;
  /* transition: .3s border-color; */
}
.form1:hover{
  border: 1px solid green;
}
.section7{
  max-width: 26%;
  padding: 0.2% 8.2%;
}
.section9{
  max-width: 22%;
  padding: 0.2% 8.2%;
}
.section11{
  max-width: 22%;
  padding: 0.2% 8.2%;
}

#map {
  height: 400px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
}
