@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: none;
  /* border: 1px solid red; */
}

body {
  font-family: "IBM Plex Sans", sans-serif;
}

.container {
  padding: 0 15px;
  max-width: 88%;
  margin: 0 auto;
}
/* HEADER */

.header {
  background: linear-gradient(
    293.97deg,
    #ffffff -9.96%,
    rgba(222, 238, 252) 111.88%
  );
}

.header__flex {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 500;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

.header__list {
  font-size: 14px;
  line-height: 2.5;
}
.header__logo {
  display: flex;
  align-items: center;
  width: 8%;
  justify-content: space-between;
  font-weight: 700;
  font-size: 150%;
}

.entry {
  text-decoration: none;
  color: #000;
}

.registration {
  text-decoration: none;
  color: #fff;
}

/* SECTIONS */

.section1{
  max-width: 50%;
  max-height: 1%;
  padding: 2% 6.9%;
  font-size: 12px;
}
.section2{
  max-width: 100%;
  padding: 0 6.9%;
}
.section3{
  max-width: 100%;
  padding: 1% 6.9%;
  display: flex;
  /* justify-content: start; */
  justify-content: space-between;
}
#map {
  width: 50%;
  height: 235px;
}
.total-div{
  max-width: 40%;
}
.for-text{
  max-width: 95%;
  font-size: 18px;
}
.for-information{
  display: flex;
  flex-direction: column;
  max-width: 52%;
}
.for-information-1{
  display: flex;
  align-items: flex-start;
  font-weight: normal;
  font-size: 18px;
  margin: 2% 0;
  text-decoration: none !important;
    /* line-height: 100%; */
  /* align-items: center; */
}
.icon_mobile{
  padding-top: 3%;
  margin-right: 7%;
}
.li_contact{
  margin-top: 6%;
}
.icon_letter{
  padding-top: 1%;
  margin-right: 7%;
}
.a-for_email{
  text-decoration: none;
  color: inherit;
}
.icon_location{
  margin-right: 7%;
}
/* CENTRE WEBSITE */
.section4{
  max-width: 100%;
  padding: 0.5% 6.9%;
  margin-bottom: 0.5%;
}
#form-contacts{
  padding: 0 6.9%;
}
.label1 + input{
  margin-top: 0.5%;
}
input, textarea{
  width: 22%;
  border-radius: 25px;
  display: block;
  font-size: 14px;
  padding: 15px 20px;
  font-family: inherit;
  border: 1px solid #000;
  margin-bottom: 1%;
}

input:hover{
  border: 1px solid green;
}
textarea{
  border-radius: 8px;
  font-family: inherit !important;
  resize: none;
}
.for-submit{
  color: white;
  background-color: #1064E5;
  width: 13%;
  font-size: 16px;
}