@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  /* border: 1px solid red; */
  transition: width 1s ease 0s;
}
body {
  font-family: "IBM Plex Sans", sans-serif;
}
.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}

.header {
  background: linear-gradient(
    293.97deg,
    #ffffff -9.96%,
    rgba(222, 238, 252, 1) 111.88%
  );
}
.header__burger {
  display: none;
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  width: 100%;
}
.header__menu {
  width: 70%;
  transition: 0.4, ease;
}
.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo h2 {
  margin-left: 5px;
}

.header__link {
  list-style: none;
}
#menuBtn {
  width: 24px;
  height: 24px;
}

.entry {
  padding: 5px 15px;
  background-color: transparent;
  border: 1px solid #1064e5;
  border-radius: 20px;
  text-decoration: none;
  color: #000;
}
.registration {
  padding: 5px 15px;
  background-color: transparent;
  border: 1px solid #1064e5;
  border-radius: 20px;
  text-decoration: none;
  color: #000;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 92vh;
  margin-top: 50px;
  max-width: 100%;
  position: relative;
  /* flex-wrap: wrap; */
}

.header__left {
  max-width: 50%;
  position: relative;
}
.header__right {
  max-width: 100%;
  position: relative;
}
.header__right img {
  max-width: 100%;
  height: 650px;
}
@media (max-width: 1180px) {
  .header__body {
    display: block;
  }
  .header__list {
    display: block;
  }
  .header__link {
    margin-top: 15px;
  }
  .header__menu {
    display: none;
  }
  .header__burger {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 22px;
  }
}
.header__left h1 {
  font-size: 40px;
  font-weight: 500;
}
.header__left h2 {
  font-size: 24px;
  font-weight: 500;
}
.header__left p {
  font-size: 16px;
  font-weight: 400;
  margin: 25px 0;
}
.header__left a {
  text-decoration: none;
  color: #fff;
  padding: 10px 18px;
  border: 1px solid #1064e5;
  background-color: #1064e5;

  border-radius: 24px;
}
.dot {
  width: 12px;
  height: 12px;
}
.slider-dots {
  position: absolute;
  bottom: -50%;
  left: 88%;
  cursor: pointer;
}
.slider-dots img {
  margin-left: 0;
  -webkit-transition: 1s;
  transition: 1s;
}
@media (max-width: 768px) {
  .header__content {
    position: relative;
    margin-top: -150px;
    z-index: 1;
  }
  .header__left {
    /* max-width: 100%; */
  }
  .header__right img {
    position: absolute;
    z-index: -1;
    /* overflow: hidden; */
  }
}

/* SECURITY */
.security {
  margin-top: 50px;
}
.security__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
}
.security__item {
  list-style: none;
  display: flex;
  column-gap: 20px;
  align-items: stretch;
}
