@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  /* border: 1px solid red; */
  transition: width 1s ease 0s;
}
body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #fff;
}
.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 10px;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  border: 1px solid #ccc;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding: 0px 15px;
  height: 70px;
}
.header__left {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.header__right {
  width: 60%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}

.header__icon {
  height: 30px;
}
.header__right a {
  display: flex;
  align-items: center;
}

.demo {
  margin-top: 80px;
}

.demo__wrapper {
  display: flex;
  align-items: center;
  column-gap: 25px;
  background-color: #fff;
  padding: 25px;
  border-radius: 12px;
}
.demo__left {
  max-width: 90%;
}

.demo__left p {
  border-bottom: 2px solid #ccc;
  padding-bottom: 20px;
}

.demo__right a {
  padding: 5px 15px;
  background-color: transparent;
  border: 1px solid #1064e5;
  border-radius: 6px;
  text-decoration: none;
  color: #1064e5;
}

/* FOOTER */
.footer {
  padding: 0px 10px;
  background-color: #fff;
  border: 1px solid #f0f3f5;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}
