@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  /* border: 1px solid red; */
  transition: width 1s ease 0s;
}
body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #f5f5f5;
}
.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 10px;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  border: 1px solid #ccc;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding: 0px 15px;
  height: 70px;
}
.header__left {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.header__right {
  width: 60%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}

.header__icon {
  height: 30px;
}
.header__right a {
  display: flex;
  align-items: center;
}

.demo {
  margin-top: 80px;
  /* background-color: #fff;s */
}

.demo__wrapper {
  display: flex;
  align-items: center;
  column-gap: 25px;
  background-color: #fff;
  padding: 25px;
  border-radius: 12px;
}
.demo__left {
  max-width: 90%;
}

.demo__left p {
  border-bottom: 2px solid #ccc;
  padding-bottom: 20px;
  font-size: 18px;
}

.demo__left a {
  text-decoration: none;
  color: #1064e5;
  font-weight: 500;
  margin-right: 20px;
}
.demo__left span {
  font-size: 16px;
  font-weight: 500;
}

.demo__right a {
  padding: 5px 15px;
  background-color: transparent;
  border: 1px solid #1064e5;
  border-radius: 6px;
  text-decoration: none;
  color: #1064e5;
}

/* CARD */

.card {
  margin: 20px 0;
}

.card__wrapper {
  display: flex;
  /* column-gap: 20px; */
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 20px;
  row-gap: 20px;
}
.card__item {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 15px;
  border-radius: 20px;
  max-width: 280px;
}

.card__title {
  margin-bottom: 20px;
}

.card__title {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}
.card__body {
  max-width: 100%;
}

.card__title {
  display: flex;
  width: 100%;
}

.card__title p {
  font-size: 12px;
  margin-left: 5px;
  background-color: #e4ecfc;
  color: #3a6ddf;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4px;
  border-radius: 5px;
}
.card__title h3 span {
  color: #3a6ddf;
}

.card__body p {
  margin: 20px 0;
  font-weight: 500;
}

.card__list {
  list-style: none;
  margin: 20px 0;
  font-size: 14px;
  font-weight: 500;
}

.card__list__item::before {
  display: inline-block;
  content: " ";
  background-image: url("./images/rate/ptichka.svg");
  background-size: 15px 15px;
  height: 15px;
  width: 15px;
  margin-right: 4px;
}

.card__list__item + .card__list__item {
  margin-top: 20px;
}

.card__btn {
  border: 1px solid #1064e5;
  padding: 5px 30%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  text-decoration: none;
}
.another {
  background-color: #fff;
  margin-top: 20px;
}

/* LAW */
.law {
  margin-top: 20px;
  padding-top: 40px;
}
.law__card {
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
}
.law__card span {
  color: #3a6ddf;
  font-weight: 700;
}

/* INTEGRATION */
.integration {
  margin: 80px 0;
}
.integration__wrapper {
  display: flex;
  justify-content: center;
}
.integration__wrapper div {
  border: 1px solid #ccc;
  padding: 15px;
  display: flex;
  column-gap: 20px;
  align-items: center;

  border-radius: 64px;
}
#one {
  color: #000;
  text-decoration: none;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.5;
  padding: 30px 15px;
  /* border: 1px solid red; */
  border-radius: 40px;
  color: #fff;
}
.active-btn {
  background-color: #3064dc;
}
#two {
  color: #000;
  text-decoration: none;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.5;
  padding: 30px 15px;
  /* border: 1px solid red; */
  border-radius: 40px;
}

/* FOOTER */
.footer {
  display: none;
  padding: 0px 10px;
  background-color: #fff;
  border: 1px solid #f0f3f5;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}
