@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap");

*, *:before, *:after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}
body {
    font-family: "IBM Plex Sans", sans-serif;
    height: 100vh;
    background-color: #ededed;
}
/* header */
.wrap{
    margin-left: 3%;
    overflow: hidden
}
/* .container1{
    max-width: 94%;
    height: 50%;
} */
/* .for-smart{
    color: #353a40;
} */
/* form and section */
.section1{
    margin-top: 8%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.container{
    position: relative;
    max-width: 430px;
    width: 100%;
    /* background: #fff; */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.container .forms{
    width: 200%;
}
.container .form{
    width: 50%;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
}

.container .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}
.inp-email:hover{
    border-bottom: 1px solid green;
}
.form .input-field{
    position: relative;
    height: 50px;
    margin-top: 30px;
}

.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
}

.form .checkbox-text{
    margin-top: 20px;
}

.checkbox-content input{
    margin-right: 10px;
    accent-color: #353a40;
}

.form .text{
    font-size: 14px;
}

.form a.text{
    color: #353a40;
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}

.form .button{
    margin-top: 35px;
}

.form .button input{
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #353a40;
    cursor: pointer;
}

.form .login-signup{
    margin-top: 30px;
    text-align: center;
}