@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    /* border: 1px solid red; */
  }
body {
    font-family: "IBM Plex Sans", sans-serif;
    /* background-color: #20a8d8; */
    background-color: #e4e5e6;
}
/* HEADER */
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    background-color: #fff;
}
.header-burger {
    display: none;
}
.header-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    width: 100%;
}
.header-menu {
    width: 70%;
    transition: 0.4, ease;
}
.for-mobile-icon{
    margin-bottom: -4px;
}
.header-list {
    display: flex;
    justify-content: end;
    align-items: center;
    max-width: 100%;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}
.header-link{
    margin-left: 15px;
}
.header-logo {
    display: flex;
    align-items: center;
}
.header-logo h2 {
    margin-left: 5px;
}
.a-for-info{
    text-decoration: none;
    color: #000;
}
.header-link {
    list-style: none;
}
.a-for-mobile{
    color: #20a8d8;
}
#menuBtn {
    width: 24px;
    height: 24px;
}

/* SECTIONS */
.section1{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* width: 100%; */
    /* display: flex;
    padding-left: 15px;
    padding-right: 15px;
    position: relative; */
}
.container1{
    max-width: 100%;
    display: flex;
    justify-content: center;
}
.div1{
    padding: 20px 30px 100px 30px;
    margin-top: 1%;
    max-width: 31%;
    background-color: #ffffff;
}
.for-password-sign{
    margin-top: 5%;
}
.for-password-sign1{
    background-color: #20a8d8;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    line-height: 2;
    margin-bottom: 5%;
}
.for-a{
    text-decoration: none;
    color: #ffffff;
}
.div2{
    margin-top: 1%;
    padding: 0px 90px 0px 90px;
    display: flex;
    flex-direction: column;
    background-color: #20a8d8;
}
.div2-2{
    margin-top: 15%;
    color: #fff;
}
.for-registr-h{
    text-align: center;
    margin-bottom: 1%;
}
.for-registr-p{
    margin-left: 10px;
    margin-bottom: 10%;
}
.sign2{
    margin-left: 18%;
    width: 60%;
    background-color: #1985AC;
}