@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}
body {
    font-family: "IBM Plex Sans", sans-serif;
    height: 100vh;
    background-color: #ededed;
}
#main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    z-index: 1;
}
#main.hide-preloader {
  animation: hidePreloader 1s;
}

#main.preloader-hidden {
  display: none;
}
/* header */
.wrap{
    /* width: 100%; */
    margin-left: 3%;
}
.for-a-smart{
    text-decoration: none;
    color: inherit;
}
/* form and section */
.section1{
    margin-top: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0 20px;
}
.container .forms{
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;
    transition: height 0.2s ease;
}
.container .form{
    width: 50%;
    padding: 30px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
}

.container.active .login{
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease;
}

.container.active .forms{
    height: 600px;
}

.container .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}
.inp-email:hover{
    border-bottom: 1px solid green;
}
.form .input-field{
    position: relative;
    height: 50px;
    margin-top: 30px;
}

.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
}

.form .checkbox-text{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    margin-right: 10px;
    accent-color: #353a40;
}

.form .text{
    color: #333;
    font-size: 14px;
}

.form a.text{
    color: #353a40;
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}

.form .button{
    margin-top: 35px;
}

.form .button input{
    border: none;   
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #353a40;
    cursor: pointer;
}

.form .login-signup{
    margin-top: 30px;
    text-align: center;
}
.forbut{
    display: flex;
    background-color: #353a40;
    width: 40%;
    border-radius: 20px;
    margin-left: 28%;
}
.for-but{
    text-decoration: none !important;
    color: inherit;
}
.but{
    margin-top: 1%;
    margin-left: 33%;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #353a40;
    cursor: pointer;
}