html,
body {
    margin:0; padding:0;
    position: relative;
    height:  100%;
}
p {
    margin:0;
}
#mainDiv{
width: 100%;
height: 100%;

margin-left: 5%;
}


.popup {
    position:absolute;
    z-index:2;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    opacity:0;
    visibility:hidden;
    transition:.3s ease;
}

.show-popup .popup {
    opacity:1;
    visibility: visible;    
}

.popup > iframe {
    position:absolute;
    top:50px;
    left:50%;
    margin-left:-280px;
}
   
#img1{
    width: 80%;
}

.tableD{
    width: 85%;
display: table;
}
.rowD{
    width: 100%;
display: table-row;
}
.cellD{
    display: table-cell;
    width: 25%;
}
.imgD{
    width: 89%;
    
	
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
}
#intersno{
    margin-left: 30%;
}
#ytplay{
    margin-top: 5%;
}